<nav class="navbar navbar-expand-lg navbar-dark mb-2">
  <div class="container">
      <a class="navbar-brand" routerLink="/"><span style="color: red">.</span>TCLA</a>
      <button (click)="toggleCollapse()" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="show">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cv" routerLinkActive="active">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo" routerLinkActive="active">ToDo</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div *ngIf="auth.user | async; then loggedIn else loggedOut"></div>

            <ng-template #loggedOut>
                <button class="btn btn-success" routerLink="/">Login</button>
            </ng-template>

            <ng-template #loggedIn>
                <button class="btn btn-warning" (click) = "signOut()">Sign out</button>
            </ng-template>
        </form>
      </div>

  </div>
</nav>
